/* Global Styles */
body {
  font-family: 'Arial', sans-serif;
  color: var(--text-primary);
  background-color: var(--bg-primary);
  margin: 0;
  padding: 0;
  transition: background-color 0.5s, color 0.5s;
}

a {
  text-decoration: none;
  color: var(--accent-color);
  transition: color 0.3s;
}

a:hover {
  color: var(--hover-color);
}

/* Landing Page Styles */
.landing-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--gradient-radial);
  text-align: center;
}

.content {
  max-width: 800px;
  padding: 2rem;
  background: var(--bg-secondary);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.text-section h1 {
  font-size: var(--text-large);
  margin-bottom: 1rem;
  color: var(--primary-color);
}

.text-section p {
  font-size: var(--text-medium);
  margin-bottom: 2rem;
  color: var(--text-secondary);
}

.get-started-button {
  background-color: var(--secondary-color);
  color: var(--color-white);
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: var(--text-small);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.get-started-button:hover {
  background-color: var(--hover-color);
}

.user-info {
  margin-top: 2rem;
  font-size: var(--text-small);
  color: var(--text-secondary);
}

.user-info span {
  display: block;
  font-weight: bold;
  color: var(--primary-color);
  margin-bottom: 0.5rem;
}
